div.relative{
    border: 4px antiquewhite;
    position: sticky;
    top: 0px;
}
h1{
    color:#3c2415;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    margin: 0;
    padding: 0;
    background-color:cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



nav {
    width: 80%;
    max-width: 900px;
    justify-self: center;
    margin-bottom: 30px;
}
ul{
                background-color:antiquewhite;
                display: flex;
                list-style-type: none;
                justify-content: space-evenly;
                gap: 40px;
            }
            
.hero-section{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#div1{
    background-color:bisque;
    width: 350px;
    height: 150px;
    border: 4px saddlebrown;
    padding: 4px;
    text-align: center;
    


}
#div2{
    background-color:bisque;
    width: 350px;
    height: 150px;
    border: 4px saddlebrown;
    padding: 4px;
    text-align: center;}
#div3{
    background-color:bisque;
    width: 350px;
    height: 150px;
    border: 4px saddlebrown;
    padding: 4px;
    text-align: center;}
.flexdirections{
    display: flex;
    background-color: antiquewhite;
    flex-direction: row;
    justify-content: space-around;
}